<header>
    <nav>
        <div class="Head">
            <p>Kassa App</p>
            <app-klok></app-klok>
            <img src="assets/PicKassa.png" alt="PicKassa" />

        </div>
    </nav>
</header>

<main class="main">


    <div class="Bovenstuk">
        <div class="button-container">
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Fanta', 2.50)">Fanta <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Sprite', 2.50)">Sprite <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Tonisteiner', 2.50)">Tonisteiner <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Ice Tea', 2.50)">Ice Tea <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
            <button class="Articles" (click)="addToCheckout('Cola', 2.50)">Cola <p>€2.50</p></button>
        </div>
        <div>
            <div class="Categorys">
                <a routerLink="/drinken" routerLinkActive="active"><button class="CategoryButton">Drinken</button></a>
                <a routerLink="/hoofdgerechten" routerLinkActive="active"><button
                        class="CategoryButton">Hoofdgerechten</button></a>
                <a routerLink="/tussendoortjes" routerLinkActive="active"><button
                        class="CategoryButton">Tussendoortjes</button></a>
            </div>
        </div>


        <div class="Zijbalk">
            <button class="ButtonZijBalk">Lege button</button>
            <a href=""><button class="ButtonZijBalk">Reload</button></a>
            <button class="ButtonZijBalk">Print bon</button>
            <!-- PRINT BON: Dit moet een alert geven met printing bon. Na 7.5 seconden terug naar hoofdscherm en reload pagina. -->
        </div>
    </div>


    <div class="Onderbalk">

        <div class="Onderste">
            <div class="Checkout">
                <h4 class="CheckoutItemsTitles">Quantity</h4>
                <h4 class="CheckoutItemsTitles">Title</h4>
                <h4 class="CheckoutItemsTitles">Price</h4>
                <h4 class="CheckoutItemsTitles">Total price</h4>
                <h4 class="CheckoutItemsTitles"></h4>
                <h4 class="CheckoutItemsTitles"></h4>
                <h4 class="CheckoutItemsTitles"></h4>
            </div>
            <div *ngFor="let item of checkoutItems" class="Winkelmandje">
                <span class="quantity">{{ item.quantity }}X </span>
                <span class="title">{{ item.title }}</span>
                <span class="price"> €{{ item.price }} </span>
                <span class="total-price">€{{ item.quantity *
                    item.price
                    }}</span>
                <button class="ButtonAanpassenWinkelmandje" (click)="increaseQuantity(item)">+</button>
                <button class="ButtonAanpassenWinkelmandje" (click)="decreaseQuantity(item)">-</button>
                <button class="ButtonAanpassenWinkelmandjeDelete" (click)="deleteItem(item)">Delete</button>
            </div>
        </div>

        <div class="Categorys">
            <a routerLink="/desserten" routerLinkActive="active"><button class="CategoryButton">Desserten</button></a>
            <div class="total-cost">
                <p>Totale kosten: </p>
                <p>€{{ totalCost }}</p>
            </div>
        </div>

        <div class="Zijbalk">
            <button class="ButtonZijBalk">Lege button</button>
            <button class="ButtonZijBalk">Betaal</button>
        </div>
    </div>




    <router-outlet></router-outlet>

</main>