<div>
    <button (click)="addToCheckout('Product 1', 10.99)">Product 1 - €10.99</button>
    <button (click)="addToCheckout('Product 2', 15.49)">Product 2 - €15.49</button>
    <!-- Voeg meer productknoppen toe zoals nodig -->
</div>

<div class="Checkout">
    <div *ngFor="let item of checkoutItems">
        <span>{{ item.quantity }}X {{ item.title }} - €{{ item.price }} = €{{ item.quantity * item.price }}</span>
        <button (click)="increaseQuantity(item)">+</button>
        <button (click)="decreaseQuantity(item)">-</button>
        <button (click)="deleteItem(item)">Delete</button>
    </div>
</div>