<main>
  <h1>keyboard</h1>
  <div class="fillInField">
    <app-fil-in-field [fillInField]="enteredText"></app-fil-in-field>
  </div>
  <div class="container">
    <div class="letters">
      <div class="rowOne">
        <app-keyboard-letter keyLetter="A" (keyPressed)="onLetterPressed('A')"
          >a</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="Z" (keyPressed)="onLetterPressed('Z')"
          >z</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="E" (keyPressed)="onLetterPressed('E')"
          >e</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="R" (keyPressed)="onLetterPressed('R')"
          >r</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="T" (keyPressed)="onLetterPressed('T')"
          >t</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="Y" (keyPressed)="onLetterPressed('Y')"
          >y</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="U" (keyPressed)="onLetterPressed('U')"
          >u</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="I" (keyPressed)="onLetterPressed('I')"
          >i</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="O" (keyPressed)="onLetterPressed('O')"
          >o</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="P" (keyPressed)="onLetterPressed('P')"
          >p</app-keyboard-letter
        >
      </div>
      <div class="rowTwo">
        <app-keyboard-letter keyLetter="Q" (keyPressed)="onLetterPressed('Q')"
          >q</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="S" (keyPressed)="onLetterPressed('S')"
          >s</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="D" (keyPressed)="onLetterPressed('D')"
          >d</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="F" (keyPressed)="onLetterPressed('F')"
          >f</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="G" (keyPressed)="onLetterPressed('G')"
          >g</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="H" (keyPressed)="onLetterPressed('H')"
          >h</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="J" (keyPressed)="onLetterPressed('J')"
          >j</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="K" (keyPressed)="onLetterPressed('K')"
          >k</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="L" (keyPressed)="onLetterPressed('L')"
          >l</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="M" (keyPressed)="onLetterPressed('M')"
          >m</app-keyboard-letter
        >
      </div>
      <div class="rowThree">
        <app-keyboard-letter keyLetter="W" (keyPressed)="onLetterPressed('W')"
          >w</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="X" (keyPressed)="onLetterPressed('X')"
          >x</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="C" (keyPressed)="onLetterPressed('C')"
          >c</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="V" (keyPressed)="onLetterPressed('V')"
          >v</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="B" (keyPressed)="onLetterPressed('B')"
          >b</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="N" (keyPressed)="onLetterPressed('N')"
          >n</app-keyboard-letter
        >
      </div>
    </div>
    <div class="numbers">
      <div class="rowOne">
        <app-keyboard [keyNumber]="7" (keyPressed)="(onNumberPressed)"
          >7</app-keyboard
        >
        <app-keyboard [keyNumber]="8" (keyPressed)="(onNumberPressed)"
          >8</app-keyboard
        >
        <app-keyboard [keyNumber]="9" (keyPressed)="(onNumberPressed)"
          >9</app-keyboard
        >
      </div>
      <div class="rowTwo">
        <app-keyboard [keyNumber]="4" (keyPressed)="(onNumberPressed)"
          >4</app-keyboard
        >
        <app-keyboard [keyNumber]="5" (keyPressed)="(onNumberPressed)"
          >5</app-keyboard
        >
        <app-keyboard [keyNumber]="6" (keyPressed)="(onNumberPressed)"
          >6</app-keyboard
        >
      </div>

      <div class="rowThree">
        <app-keyboard [keyNumber]="1" (keyPressed)="(onNumberPressed)"
          >1</app-keyboard
        >
        <app-keyboard [keyNumber]="2" (keyPressed)="(onNumberPressed)"
          >2</app-keyboard
        >
        <app-keyboard [keyNumber]="3" (keyPressed)="(onNumberPressed)"
          >3</app-keyboard
        >
      </div>
    </div>
  </div>
</main>
