<main>
  <h1>Keyboard</h1>
  <div class="container">
    <div class="letters">
      <div class="rowOne">
        <app-keyboard-letter keyLetter="A" (keyPressed)="onLetterPressed('A')"
          >A</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="Z" (keyPressed)="onLetterPressed('Z')"
          >Z</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="E" (keyPressed)="onLetterPressed('E')"
          >E</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="R" (keyPressed)="onLetterPressed('R')"
          >R</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="T" (keyPressed)="onLetterPressed('T')"
          >T</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="Y" (keyPressed)="onLetterPressed('Y')"
          >Y</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="U" (keyPressed)="onLetterPressed('U')"
          >U</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="I" (keyPressed)="onLetterPressed('I')"
          >I</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="O" (keyPressed)="onLetterPressed('O')"
          >O</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="P" (keyPressed)="onLetterPressed('P')"
          >P</app-keyboard-letter
        >
      </div>
      <div class="rowTwo">
        <app-keyboard-letter keyLetter="Q" (keyPressed)="onLetterPressed('Q')"
          >Q</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="S" (keyPressed)="onLetterPressed('S')"
          >S</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="D" (keyPressed)="onLetterPressed('D')"
          >D</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="F" (keyPressed)="onLetterPressed('F')"
          >F</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="G" (keyPressed)="onLetterPressed('G')"
          >G</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="H" (keyPressed)="onLetterPressed('H')"
          >H</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="J" (keyPressed)="onLetterPressed('J')"
          >J</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="K" (keyPressed)="onLetterPressed('K')"
          >K</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="L" (keyPressed)="onLetterPressed('L')"
          >L</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="M" (keyPressed)="onLetterPressed('M')"
          >M</app-keyboard-letter
        >
      </div>
      <div class="rowThree">
        <app-keyboard-letter keyLetter="W" (keyPressed)="onLetterPressed('W')"
          >W</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="X" (keyPressed)="onLetterPressed('X')"
          >X</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="C" (keyPressed)="onLetterPressed('C')"
          >C</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="V" (keyPressed)="onLetterPressed('V')"
          >V</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="B" (keyPressed)="onLetterPressed('B')"
          >B</app-keyboard-letter
        >
        <app-keyboard-letter keyLetter="N" (keyPressed)="onLetterPressed('N')"
          >N</app-keyboard-letter
        >
      </div>
    </div>
    <div class="numbers">
      <div class="rowOne">
        <app-keyboard [keyNumber]="7" (keyPressed)="onNumberPressed(7)"
          >7</app-keyboard
        >
        <app-keyboard [keyNumber]="8" (keyPressed)="onNumberPressed(8)"
          >8</app-keyboard
        >
        <app-keyboard [keyNumber]="9" (keyPressed)="onNumberPressed(9)"
          >9</app-keyboard
        >
      </div>
      <div class="rowTwo">
        <app-keyboard [keyNumber]="4" (keyPressed)="onNumberPressed(4)"
          >4</app-keyboard
        >
        <app-keyboard [keyNumber]="5" (keyPressed)="onNumberPressed(5)"
          >5</app-keyboard
        >
        <app-keyboard [keyNumber]="6" (keyPressed)="onNumberPressed(6)"
          >6</app-keyboard
        >
      </div>
      <div class="rowThree">
        <app-keyboard [keyNumber]="1" (keyPressed)="onNumberPressed(1)"
          >1</app-keyboard
        >
        <app-keyboard [keyNumber]="2" (keyPressed)="onNumberPressed(2)"
          >2</app-keyboard
        >
        <app-keyboard [keyNumber]="3" (keyPressed)="onNumberPressed(3)"
          >3</app-keyboard
        >
      </div>
    </div>
  </div>
</main>
