<main>
  <h1>keyboard</h1>
  <div class="container">
    <div class="letters">
      <app-keyboard keyLetter="A"></app-keyboard>
      <app-keyboard keyLetter="Z"></app-keyboard>
      <app-keyboard keyLetter="E"></app-keyboard>
      <app-keyboard keyLetter="R"></app-keyboard>
      <app-keyboard keyLetter="T"></app-keyboard>
      <app-keyboard keyLetter="Y"></app-keyboard>
      <app-keyboard keyLetter="U"></app-keyboard>
      <app-keyboard keyLetter="I"></app-keyboard>
      <app-keyboard keyLetter="O"></app-keyboard>
      <app-keyboard keyLetter="P"></app-keyboard>
      <app-keyboard keyLetter="Q"></app-keyboard>
      <app-keyboard keyLetter="S"></app-keyboard>
      <app-keyboard keyLetter="D"></app-keyboard>
      <app-keyboard keyLetter="F"></app-keyboard>
      <app-keyboard keyLetter="G"></app-keyboard>
      <app-keyboard keyLetter="H"></app-keyboard>
      <app-keyboard keyLetter="J"></app-keyboard>
      <app-keyboard keyLetter="K"></app-keyboard>
      <app-keyboard keyLetter="L"></app-keyboard>
      <app-keyboard keyLetter="M"></app-keyboard>
      <app-keyboard keyLetter="W"></app-keyboard>
      <app-keyboard keyLetter="X"></app-keyboard>
      <app-keyboard keyLetter="C"></app-keyboard>
      <app-keyboard keyLetter="V"></app-keyboard>
      <app-keyboard keyLetter="B"></app-keyboard>
      <app-keyboard keyLetter="N"></app-keyboard>
    </div>
    <div class="numbers"></div>
    <app-keyboard [keyNumber]="7"></app-keyboard>
    <app-keyboard [keyNumber]="8"></app-keyboard>
    <app-keyboard [keyNumber]="9"></app-keyboard>
    <app-keyboard [keyNumber]="4"></app-keyboard>
    <app-keyboard [keyNumber]="5"></app-keyboard>
    <app-keyboard [keyNumber]="6"></app-keyboard>
    <app-keyboard [keyNumber]="1"></app-keyboard>
    <app-keyboard [keyNumber]="2"></app-keyboard>
    <app-keyboard [keyNumber]="3"></app-keyboard>
  </div>
</main>
