.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}



.Head img {
  width: 50px;
  height: auto;
}


.main {
  display: grid;
  grid-template-columns: 75% 1fr 1fr;
}






h1 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
}

.Drinks {
  background-color: #add8e6;
}

.Drinks:hover {
  background-color: #add8e672;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.Foods {
  background-color: lightcoral;
}

.Desserts {
  background-color: rgb(255, 255, 51);
}

.Snacks {
  background-color: lightyellow;
}

.total-cost {
  display: flex;
  padding: 20px;
  background-color: lightslategray;
  justify-content: end;
  padding-right: 2rem;
}

section {
  border: 2px solid black;
}

.Eindafrekening {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
  border: 1px solid grey;
  border-top-right-radius: 1rem;
  height: 38.8vh;
}

.Onderste {
  display: grid;
  grid-template-columns: 83.4% 16.6%;
}

.ALL {
  display: flex;
  flex-direction: row;
}

.Zijbalk {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.ButtonZijBalk {
  width: 11vw;
  font-size: 1.5rem;
  background-color: lightgreen;
}