<header>
  <nav>
    <ul>
      <li></li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
  </nav>
</header>

<main class="main">
  <div class="buttons">
    <div class="Row1">
      <button class="Drinks">Water</button>
      <button class="Drinks">Fanta</button>

      <button class="Foods">Frieten</button>
      <button class="Foods">Broodje</button>
    </div>
    <div class="Row2">
      <button class="Drinks">Coca Cola</button>
      <button class="Drinks">Sprite</button>

      <button class="Foods">Burger</button>
      <button class="Foods">Pizza</button>
    </div>
    <div class="Row3">
      <button class="Desserts">Cake</button>
      <button class="Desserts">Cupcake</button>

      <button class="Snacks">Wafel</button>
      <button class="Snacks">Koek</button>
    </div>
    <div class="Row4">
      <button class="Desserts">Taart</button>
      <button class="Desserts">Brownie</button>

      <button class="Snacks">Snoep</button>
      <button class="Snacks">Chips</button>
    </div>
  </div>
  <button (click)="showTitle('Food')">Food</button>
  <button (click)="showTitle('Drinks')">Drinks</button>
  <div class="Checkout">{{ clickedButtonTitle }}</div>

  <router-outlet />
</main>
