.Head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.Head img {
  width: 100px;
  height: auto;
}



.buttons {
  display: flex;
  flex-direction: column;
}

button {
  width: 210px;
  /* Pas de breedte aan naar wens */
  height: 130px;
  /* Pas de hoogte aan naar wens */
  margin: 5px;
  /* Optioneel: voeg marge toe tussen de knoppen */
  border-radius: 0.2rem;
}

h1 {
  font-size: 1.6rem;
}

p {
  font-size: 1.3rem;
}

.Drinks {
  background-color: lightblue;
}

.Foods {
  background-color: lightcoral;
}

.Desserts {
  background-color: lightgreen;
}

.Snacks {
  background-color: lightyellow;
}

.total-cost {
  display: flex;
  padding: 20px;
  background-color: lightslategray;
  justify-content: end; 
  padding-right: 2rem;
}

section {
  border: 2px solid black;
}

.Eindafrekening {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: lightgrey;
  border: 1px solid grey;
  border-top-right-radius: 1rem;
  height: 37.2vh;
}

.Onderste {
  display: grid;
  grid-template-columns: 83.4% 16.6%;
}

.ALL {
  display: flex;
  flex-direction: row;
}

.Zijbalk {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.ButtonZijBalk {
  width: 11vw;
  font-size: 1.5rem;
  background-color: lightgreen;
}
