<header>
  <nav>
    <div class="Head">
      <p>EduPay</p>
      <app-klok></app-klok>
      <img src="assets/PicKassa.png" alt="PicKassa" />
    </div>
  </nav>
</header>

<main class="main">
  <div class="Bovenstuk">
    <div class="button-container">
      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Brownie', 1.0)"
      >
        <h4>Brownie</h4>
        <p>€1.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Chocoladevla', 1.0)"
      >
        <h4>Chocoladevla</h4>
        <p>€1.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Aardbeienvla', 1.0)"
      >
        <h4>Aardbeienvla</h4>
        <p>€1.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Pudding', 1.2)"
      >
        <h4>Pudding</h4>
        <p>€1.20</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Yoghurt', 1.0)"
      >
        <h4>Yoghurt</h4>
        <p>€1.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Vruchtenyoghurt', 1.2)"
      >
        <h4>Vruchtenyoghurt</h4>
        <p>€1.20</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Fruitbowl', 1.5)"
      >
        <h4>Fruitbowl</h4>
        <p>€1.50</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('IJslolly', 1.0)"
      >
        <h4>IJslolly</h4>
        <p>€1.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Softijs', 1.5)"
      >
        <h4>Softijs</h4>
        <p>€1.50</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Roomijs', 1.5)"
      >
        <h4>Roomijs</h4>
        <p>€1.50</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Chocolademousse', 1.2)"
      >
        <h4>Chocolademousse</h4>
        <p>€1.20</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Appeltaart', 2.0)"
      >
        <h4>Appeltaart</h4>
        <p>€2.00</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Cheesecake', 2.5)"
      >
        <h4>Cheesecake</h4>
        <p>€2.50</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Brownie', 1.5)"
      >
        <h4>Brownie</h4>
        <p>€1.50</p>
      </button>

      <button
        mat-raised-button
        color="secondary"
        class="Articles"
        (click)="addToCheckout('Cupcake', 1.2)"
      >
        <h4>Cupcake</h4>
        <p>€1.20</p>
      </button>
    </div>

    <div>
      <div class="Categorys">
        <a routerLink="/drinken" routerLinkActive="active"
          ><button mat-raised-button color="primary" class="CategoryButton">
            Drinken
          </button></a
        >
        <a routerLink="/hoofdgerechten" routerLinkActive="active"
          ><button mat-raised-button color="primary" class="CategoryButton">
            Hoofdgerechten
          </button></a
        >
        <a routerLink="/tussendoortjes" routerLinkActive="active"
          ><button mat-raised-button color="primary" class="CategoryButton">
            Tussendoortjes
          </button></a
        >
      </div>
    </div>

    <div class="Zijbalk">
      <a routerLink="/login" routerLinkActive="active"
        ><button
          mat-raised-button
          color="primary"
          mat-raised-button
          color="primary"
          class="ButtonZijBalk"
        >
          Admin
        </button></a
      >
      <button
        mat-raised-button
        color="primary"
        mat-raised-button
        color="primary"
        class="ButtonZijBalk"
        (click)="ResetItems()"
      >
        Reload
      </button>
      <a routerLink="/bon" routerLinkActive="active"
        ><button
          mat-raised-button
          color="primary"
          mat-raised-button
          color="primary"
          class="ButtonZijBalk"
        >
          Print bon
        </button></a
      >
    </div>
  </div>

  <div class="Onderbalk">
    <div class="Onderste">
      <div class="Checkout">
        <h4 class="CheckoutItemsTitles">Quantity</h4>
        <h4 class="CheckoutItemsTitles">Title</h4>
        <h4 class="CheckoutItemsTitles">Price</h4>
        <h4 class="CheckoutItemsTitles">Total price</h4>
        <h4 class="CheckoutItemsTitles"></h4>
        <h4 class="CheckoutItemsTitles"></h4>
        <h4 class="CheckoutItemsTitles"></h4>
      </div>
      <div *ngFor="let item of checkoutItems" class="Winkelmandje">
        <span class="quantity">{{ item.quantity }}X </span>
        <span class="title">{{ item.title }}</span>
        <span class="price"> €{{ item.price }} </span>
        <span class="total-price">€{{ item.quantity * item.price }}</span>
        <button
          class="ButtonAanpassenWinkelmandje"
          (click)="increaseQuantity(item)"
        >
          +
        </button>
        <button
          class="ButtonAanpassenWinkelmandje"
          (click)="decreaseQuantity(item)"
        >
          -
        </button>
        <button
          class="ButtonAanpassenWinkelmandjeDelete"
          (click)="deleteItem(item)"
        >
          Delete
        </button>
      </div>
    </div>

    <div class="Categorys">
      <a routerLink="/desserten" routerLinkActive="active"
        ><button mat-raised-button color="primary" class="CategoryButton">
          Desserten
        </button></a
      >
      <div class="total-cost">
        <p>Totale kosten:</p>
        <p>€{{ totalCost }}</p>
      </div>
    </div>

    <div class="Zijbalk">
      <button
        mat-raised-button
        color="primary"
        mat-raised-button
        color="primary"
        class="ButtonZijBalk"
      >
        Lege button
      </button>
      <a routerLink="/betaal" routerLinkActive="active"
        ><button mat-raised-button color="primary" class="ButtonZijBalk">
          betaal
        </button></a
      >
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
