.CheckoutWoorden {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}

.scroll {
  overflow-y: auto;
  max-height: 300px; /* Adjust based on your needs */
}

.Winkelmandje {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.Categorys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
}

.backButton{
border: none;
padding: 8px 16px;
cursor: pointer;
border-radius: 4px;
}

.backButton:hover {
background-color: #424343 ;
color: white;
}

.printButton{
border: none;
padding: 8px 16px;
cursor: pointer;
border-radius: 4px;
}

.total-cost p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: lightcyan;
}
