.Head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #185AC3;
    color: white;
    margin-bottom: 0.5rem;
}

.Head img {
    width: 60px;
    height: auto;
    margin-right: 1rem;
}

.Head p {
    text-align: center;
    font-size: 1.1rem;
    margin-left: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
    border: 10px solid #c3185a;
    background-color: #c3185a;
    padding: 10px;
    max-width: fit-content;
    max-height: fit-content;
    color: white;
}

.main {
    height: 91vh;
}

.scroll {
  overflow-y: auto;
  max-height: 300px; /* Adjust based on your needs */
}

.Winkelmandje {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.Categorys {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
}

.backButton{
border: none;
padding: 8px 16px;
cursor: pointer;
border-radius: 4px;
}

.backButton:hover, .printButton:hover {
background-color: #424343 ;
color: white;
}

.printButton{
border: none;
padding: 8px 16px;
cursor: pointer;
border-radius: 4px;
}

.total-cost p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  background-color: lightcyan;
}
