<header>
  <nav>
    <div class="Head">
      <p>EduPay</p>
      <app-klok></app-klok>
      <img src="assets/PicKassa.png" alt="PicKassa" />
    </div>
  </nav>
</header>

<main class="main">
  <div class="Bovenstuk">
    <div class="button-container">
      <button class="Articles" (click)="addToCheckout('Pasta Bolognese', 4.5)">
        <h4>Pasta Bolognese</h4>
        <p>€4.50</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Kip Sandwich', 3.0)">
        <h4>Kip Sandwich</h4>
        <p>€3.00</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Cheeseburger', 3.5)">
        <h4>Cheeseburger</h4>
        <p>€3.50</p>
      </button>
      <button
        class="Articles"
        (click)="addToCheckout('Vegetarische Wrap', 3.2)"
      >
        <h4>Vegetarische Wrap</h4>
        <p>€3.20</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Tosti', 2.5)">
        <h4>Tosti</h4>
        <p>€2.50</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Caesar Salade', 3.8)">
        <h4>Caesar Salade</h4>
        <p>€3.80</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Pizzapunt', 2.5)">
        <h4>Pizzapunt</h4>
        <p>€2.50</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Kipnuggets', 3.0)">
        <h4>Kipnuggets</h4>
        <p>€3.00</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Vis en Friet', 4.0)">
        <h4>Vis en Friet</h4>
        <p>€4.00</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Taco', 2.8)">
        <h4>Taco</h4>
        <p>€2.80</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Sushi Rol', 4.5)">
        <h4>Sushi Rol</h4>
        <p>€4.50</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Hotdog', 2.5)">
        <h4>Hotdog</h4>
        <p>€2.50</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Worstenbroodje', 2.0)">
        <h4>Worstenbroodje</h4>
        <p>€2.00</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Quiche', 3.8)">
        <h4>Quiche</h4>
        <p>€3.80</p>
      </button>
      <button class="Articles" (click)="addToCheckout('Pasta Carbonara', 4.5)">
        <h4>Pasta Carbonara</h4>
        <p>€4.50</p>
      </button>
    </div>

    <div>
      <div class="Categorys">
        <a routerLink="/drinken" routerLinkActive="active"
          ><button class="CategoryButton">Drinken</button></a
        >
        <a routerLink="/hoofdgerechten" routerLinkActive="active"
          ><button class="CategoryButton">Hoofdgerechten</button></a
        >
        <a routerLink="/tussendoortjes" routerLinkActive="active"
          ><button class="CategoryButton">Tussendoortjes</button></a
        >
      </div>
    </div>

    <div class="Zijbalk">
      <a routerLink="/login" routerLinkActive="active"
        ><button class="ButtonZijBalk">Admin</button></a
      >
      <button class="ButtonZijBalk" (click)="ResetItems()">Reload</button>
      <a routerLink="/bon" routerLinkActive="active"
        ><button class="ButtonZijBalk">Print bon</button></a
      >
    </div>
  </div>

  <div class="Onderbalk">
    <div class="Onderste">
      <div class="Checkout">
        <h4 class="CheckoutItemsTitles">Quantity</h4>
        <h4 class="CheckoutItemsTitles">Title</h4>
        <h4 class="CheckoutItemsTitles">Price</h4>
        <h4 class="CheckoutItemsTitles">Total price</h4>
        <h4 class="CheckoutItemsTitles"></h4>
        <h4 class="CheckoutItemsTitles"></h4>
        <h4 class="CheckoutItemsTitles"></h4>
      </div>
      <div *ngFor="let item of checkoutItems" class="Winkelmandje">
        <span class="quantity">{{ item.quantity }}X </span>
        <span class="title">{{ item.title }}</span>
        <span class="price"> €{{ item.price }} </span>
        <span class="total-price">€{{ item.quantity * item.price }}</span>
        <button
          class="ButtonAanpassenWinkelmandje"
          (click)="increaseQuantity(item)"
        >
          +
        </button>
        <button
          class="ButtonAanpassenWinkelmandje"
          (click)="decreaseQuantity(item)"
        >
          -
        </button>
        <button
          class="ButtonAanpassenWinkelmandjeDelete"
          (click)="deleteItem(item)"
        >
          Delete
        </button>
      </div>
    </div>

    <div class="Categorys">
      <a routerLink="/desserten" routerLinkActive="active"
        ><button class="CategoryButton">Desserten</button></a
      >
      <div class="total-cost">
        <p>Totale kosten:</p>
        <p>€{{ totalCost }}</p>
      </div>
    </div>

    <div class="Zijbalk">
      <button class="ButtonZijBalk">Lege button</button>
      <button class="ButtonZijBalk">Betaal</button>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
